<h3>Input 3 positive numbers</h3>
<form class="addition-input-form" name="inputForm" ng-submit="submit()" novalidate>
    <div class="form-group" ng-class="{'has-error': inputForm.a1.$invalid}">
      <input class="form-control" type="number" name="a1" ng-min="0" ng-model="inputData.a1" placeholder="0" required>
    </div>
    <div class="form-group" ng-class="{'has-error': inputForm.a2.$invalid}">
      <input class="form-control" type="number" name="a2" ng-min="0" ng-model="inputData.a2" placeholder="0" required>
    </div>
    <div class="form-group" ng-class="{'has-error': inputForm.a3.$invalid}">
        <input class="form-control" type="number" name="a3" ng-min="0" ng-model="inputData.a3" placeholder="0" required>
    </div>
    <p ng-show="error" class="warning">{{error}}</p>
    <div class="navigation">
      <button class="btn btn-info next" type="submit" ng-disabled="inputForm.$invalid">Next</button>
    </div>
</form>
