// bower:scss
// endbower

body {
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
}

.home {
  &-wrp {
    height:  200px;    
  }
}

.sign-in {
  position: relative;
  width: 300px;
  height: 195px;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 0px 5px 1px #aeaeae;
  h5 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #59ebff;
  }
}

.main-wrapper {
  height: 100%;
  .description {
    height: 100%;
    background-color: #f5f5f5;
    padding: 20px;    
    z-index: 1;
    box-shadow: 0 0 4px 0px #a2a2a2;
  }
  .main-view {
    &-wrp {
      height: 100%;    
      position: relative;
      overflow: hidden;
    }
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    padding: 20px 30px;
    position: absolute;

    &.ng-enter, &.ng-leave {
       -webkit-transition: -webkit-transform .7s ease-in-out;
      -moz-transition: -moz-transform .7s ease-in-out;
      -o-transition: -o-transform .7s ease-in-out;
      transition: transform .7s ease-in-out;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    &.ng-enter {
      opacity: 0;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }

    &.ng-enter-active {
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    &.ng-leave {      
      opacity: 1;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }

    &.ng-leave-active {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }

    .addition-input-form {
      margin-top: 20px;
    }

    .navigation {
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px;
      .next {
        float: right;
      } 
    } 
      
    table {
      text-align: center;
      margin-top: 20px;
      td, th {
        text-align: center;
      }
      td.odd {
        background-color: mediumspringgreen;
      }
    }
    .timer {
      position: relative;
      width: 100px;
      height: 100px;
      margin: 20px auto;
      background: url('../images/ring.gif') center center no-repeat #ffffff;   
      background-size: 100px;      
      span {
        width: 10px;
        height: 20px;
      }
    }
  }  
}



.absolute-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: url('../images/ring.gif') center center no-repeat #ffffff;   
  background-size: 100px;
  z-index: 99; 
}


